<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
<!--
		<link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
-->
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
					<textarea id="name" type="text" name="input" value="" placeholder="Enter Your Text Here"></textarea> <!--Give them a little more room to write/paste their text into -->
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
				<table width="200" border="1">
	<tbody>
		<tr>
			<td>score:</td>
			<td id="score-result"> </td>
		</tr>
		<tr>
			<td>agreement:</td>
			<td id="agreement-result"> </td>
		</tr>
		<tr>
			<td>subjectivity:</td>
			<td id="subjectivity-result"> </td>
		</tr>
		<tr>
			<td>confidence:</td>
			<td id="confidence-result"> </td>
		</tr>
		<tr>
			<td>irony:</td>
			<td id="irony-result"> </td>
		</tr>
	</tbody>
</table>
</div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>